@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:5%">
    <div class="col-md-8">
        <button class="btn btn-primary btn-block" type="submit">Refresh</button>
    </div>
    <div class="col-md-4">
        <textarea class="form-control" style="margin-bottom: 2%"></textarea>
        <button class="btn btn-primary btn-block" type="submit">Post Tweet</button>
    </div>
</div>