@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:15%;text-align:center">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <h1>
                Internal error, Please check back later or contact admin for help
            </h1>
        </div>
    </div>
</div>